.container-room{
  max-width: min(112rem , 90%);
  margin: auto;


  .content-room{
    display: flex;
    align-items: center;

    justify-content: space-between;
    .buttons{
      display: flex;
      gap: 1rem;
      width: 30%;
      
    }
  }


  .main-room{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 8rem;

   h2{
    font-family: "Poppins" , sans-serif;
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1.5rem;
   }

   form{
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius:0  0.8rem  0.8rem  0.8rem ;
    margin-bottom: 1.6rem;
    width: 100%;
    
    
    textarea{
      resize: none;
      border: none;
      background: transparent;
      outline: none;
      width: 100%;
      height: 10rem; 
      padding: 2rem;
      font-size: 1.1rem;
      &::placeholder{
        color: var(--grey-blue);

      }
    }


    footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      font-size: 0.9rem;
      &>div{
        display: flex;
        color: var(--icons-details);
        font-family: "Poppins" , sans-serif;
        font-weight: 400;
        align-items: center;
        justify-content: center;

        &>img{
           margin-right: 0.2rem;
        }
      }

      button{
        width: 255px;
        margin: 2rem ;
      }
    }
   }

  }




}